.fa-dark-red {
  color: $dark-red;
}
.fa-dark-yellow {
  color: $dark-yellow;
}
.fa-yellow {
  color: $yellow;
}
.fa-red {
  color: $red;
}
.padded-container {
  padding: 40px;
}
.bg-black {
  background-color: $gray-darker;
  color: white;
  padding: 30px;
  a {
  font-size: 20px;
  color: white;
  }
}
