.fa-green {
  color: #CEEDB1;
}
.fa-blue {
  color: #1DADEA;
}
.fa-purple {
  color: #6642EC;
}
.fa-red {
  color: #DB5658;
}
.padded-container {
  padding: 40px;
}
.bg-black {
  background-color: #333333;
  color: white;
  padding: 30px;
  a {
  font-size: 20px;
  color: white;
  }
}
