body {
  font-family: 'Open Sans', sans-serif;
  color: #B3B3B3;
  font-size: 14px
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-size: 30px;
  color: #333333;
  line-height: 62px;
}
h3 {
  font-size: 18px;
  color: #666666;
}
