body {
  font-family: 'Open Sans', sans-serif;
  color: $gray;
  font-size: 14px
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-size: 30px;
  color: $gray-dark;
  line-height: 62px;
}
h3 {
  font-size: 18px;
  color: $gray-dark;
}
