<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

    <% link_to "/" do %>
      <%= image_tag "burger.png", class: "navbar-wagon-logo" %>
    <% end %>

    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input hidden-xs" placeholder="Search for featured stuff">
      <button type="submit" class="navbar-wagon-search-btn hidden-xs">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <div class="navbar-wagon-item">
      <%= link_to "Post stuff", "", class: "navbar-wagon-button btn btn-default" %>
    </div>

    <% link_to "Contact", "", class: "navbar-wagon-item navbar-wagon-link" %>

    <% link_to "", class: "navbar-wagon-item navbar-wagon-link" do %>
      <div class="icon-badge-container">
        <i class="fa fa-envelope-o"></i>
        <div class="icon-badge icon-badge-red">3</div>
      </div>
    <% end %>

    <div class="navbar-wagon-item">
      <div class="dropdown">

        <%= image_tag "https://avatars.githubusercontent.com/u/12142461?v=3", class: "avatar dropdown-toggle", id:"navbar-wagon-menu", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "true" %>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" aria-labelledby="navbar-wagon-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>

      </div>
    </div>

  </div>
</nav>
