<div class="container padded-container">
  <div class="row">
    <% data.products.each do |burger| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card card-lg">
          <span class="card-bg"  style="background-image: url('<%= image_path burger.image %>')"></span>
          <span class="card-shadow"></span>
          <span class="card-text">
            <h2><%= burger.name %></h2>
            <p><%= burger.votes %> votes</p>
          </span>
          <span class="card-user heart">
            <i class="fa fa-heart-o"></i>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>

