<div class="gradient flex-center-center">
  <div class="title text-center">
    <h1>Take a Break fait une pause!</h1>
    <h3>Merci de nous avoir soutenus dans ce projet et continuez à nous suivre dans nos nouveaux projets</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
        <div class="white-box flex-center-center">
          <div class="text-center">
            <% link_to "www.mycocoon.io" do %>
              <%= image_tag "mycocoon.png", class: "logo" %>
            <% end %>
            <h3><a href="www.mycocoon.io" id="mycocoon">My Cocoon</a></h3>
            <p>Retrouvez toutes vos annonces immobilières en un seul endroit!</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-4">
        <div class="white-box flex-center-center">
          <div class="text-center">
            <% link_to "www.echrili.tn" do %>
              <%= image_tag "echrili.png", class: "logo" %>
              <h3><a href="www.echrili.tn" id="echrili">Echrili</a></h3>
            <% end %>
            <p>Accédez aux marketplaces françaises depuis la Tunisie</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
